.date-selector {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.date-buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.date-button {
    background: #333;
    color: white;
    border: none;
    border-radius: 11px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: background 0.2s;
}

.date-button.active {
    background: #007aff;
}
label {
    color: rgba(255, 255, 255, 0.64);
}
